.header{
    display: flex;
    align-items: center;
    height: 55px;
    background-color: #282828;
    --tw-shadow: 0px 1px 3px #0000003d,0px 2px 8px #00000029;
    --tw-shadow-colored: 0px 1px 3px var(--tw-shadow-color),0px 2px 8px var(--tw-shadow-color);
    
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 1rem;

        &Left{
            display: flex;
            align-items: center;
            gap: 2rem;
            height: 100%;
    
            .nav-items{
                height: 100%;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #eff1f6bf;
                font-size: 0.9rem;
                font-weight: 500;
                border-bottom: 3px solid transparent;
    
                &:hover{
                    color: #fff;
                }
                
                &.active{
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
    
        &Right{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 0.9rem;
            height: 100%;

            .signup-login{
                font-weight: 500;
                font-size: 0.85rem;
                color: #eff1f6bf;


                &:hover{
                    color: white;
                }
            }

            .login-details{
                font-weight: 500;
                font-size: 0.85rem;
                color: #eff1f6bf;
            }

            span{
                color: #eff2f699;
                font-weight: 500;
                font-size: 0.85rem;
            }
        }

    }

}